/**fonts*/

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");

:root {
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}
/*generale style*/
* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1212px;
}

/* small screens**/
@media (min-width: 767px) {
  .container {
    width: 712px;
  }
}
@media (min-width: 360px) {
  .container {
    width: 340px;
  }
}


/*medium screens*/

@media (min-width: 939px) {
  .container {
    width: 900px;
  }
}

/*large screens*/

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body {
  background-color: var(--Very-Dark-Blue);
}

/*Header*/

header {
  font-size: 36px;
  text-align: center;
  background: url("./images/bg-desktop-dark.jpg");
  height: 280px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*main*/
.main {
  width: 50%;
  margin: 0 auto;
  margin-top: -160px;
}

/*title*/
.title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.title h1 {
  color: hsl(0, 0%, 98%);
  
}
.title img{
  object-fit: contain;
}
#dark-mode{
  display: none;
}
/*tasks*/
.new-task{
  padding-right: 10px;
}
.new-task input{
  padding-left: 10px !important;
}
input[type="text"] {
  width: 100%;
  padding: 15px 0px;
  background: var(--Very-Dark-Desaturated-Blue);
  border: none;
  font-size: 18px;
  color: hsl(0, 0%, 98%);
}
input[type="text"]:focus{
    outline: none;
}
.tasks-actions {
  background: var(--Very-Dark-Desaturated-Blue);
  margin-top: 35px;
  width: 100%;
  padding: 15px 0px;
}
.day-task {
    display: flex;
    border-bottom: 1px solid var(--Dark-Grayish-Blue);
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
} 
.day-task input{
  padding-left: 10px !important;
}
input.checkbox {
    /* background-color: red;
    border-radius: 50%; */
    z-index: 99;
    opacity: 0;
}
span.checkmark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: 6px;
  background: var(--Very-Dark-Desaturated-Blue);
  border: 1px solid var(--Very-Dark-Grayish-Blue);
}
.lightMode span.checkmark{
  background: var(--Very-Light-Gray);
  border: 1px solid var(--Dark-Grayish-Blue);
}
input.checkbox:checked ~ span.checkmark {
  background-image: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));

}

span.checkmark:after {
  content: '';
  background: url("./images/icon-check.svg");
  height: 20px;
  width: 20px;
  position: absolute;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
input.checkbox:checked ~ span.checkmark:after{
  display: block;
}
/*action*/
.actions li {
  display: inline-block;
  padding: 0 10px;
  color: hsl(0, 0%, 98%);
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 0px 10px;
}
p {
  color: hsl(0, 0%, 98%);
}

.icon-cross{
  
    object-fit: contain;

}



@media(max-width:660px){
  p#tasks-left {
    display: none;
}

p#clear-completed {
    display: none;
}

.main{
  width: 85%;
  margin: -115px 12px;
}

input.checkbox:after {
  content: "";
  background: url("./images/icon-cross.svg");
  display: block;
  height: auto;
  width: auto;
}
}


body.lightMode{
  background: var(--Very-Light-Gray);
}
.lightMode #light-mode{
  display: none;
}
.lightMode #dark-mode{
  display: block;
}
.lightMode input{
  background: var(--Very-Light-Gray);
}
.lightMode .tasks-actions{
  background: var(--Very-Light-Gray);
}
.lightMode li{
  color: #000000;
}
.lightMode p{
  color: #000000;
}
.lightMode header{
  background : url("./images/bg-desktop-light.jpg");
}